<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-8 push-lg-2">
        <div class="input-group input-group-lg m-3">
          <input id="query" type="text" class="form-control" placeholder="Buscar ..." value="Secret Base" [(ngModel)]="search">
          <div class="input-group-addon" (click)="getYoutubeListSearch()">
            <i class="ion-search"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <ng-container *ngFor="let video of videos">
          
          <div class="list-group-item list-group-item-action">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 text-center">
                  <img width="120px" height="90px" src="{{ video.snippet.thumbnails.default.url }}" class="m-2">
                </div>
                <div class="col-lg-6">
                  <h5 class="m-2">{{ video.snippet.title }}</h5>
                  <i class="m-2"><b>Autor: </b>{{ video.snippet.channelTitle }}</i>
                </div>
                <div class="col-lg-3 text-center">
                  <button class="btn btn-success m-1" (click)="download(video.id.videoId)">Descargar</button>
                  <button class="btn btn-info m-1" (click)="viewVideo(video.id.videoId)">Ver video</button>
                </div>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="bg-danger text-white text-center mt-2 mb-3">
      <h3 class="display-5 p-3">Youtube</h3>
    </div>

    <div *ngIf="viewVideoOk">
      <iframe [src]="videoUrl" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
    </div>


    <div *ngIf="viewVideoOk || downloadOk" class="list-group-item  mt-3">
      <div class="container">
        <div class="row">
          <div class="col-12" *ngIf="downloadOk">
            <img src="{{ videoImageMedium }}" class="img-fluid">
          </div>
          <div class="col-12">
            <h5 class="pt-3">{{ videoTitle }}</h5>

            <a class="font-weight-normal" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="ion-arrow-down-b"></i> Descripción: 
            </a>
            <div class="collapse" id="collapseExample">
              {{ videoDescription }}
            </div>
            <hr>
            <p>Duración: {{ videoDuration }}</p>
          </div>

          <div class="col-12 text-center" *ngIf="downloadOk">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#mp3" role="tab">mp3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#video" role="tab">video</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="mp3" role="tabpanel">

                <iframe src="https://youtubetoany.com/@api/button/mp3/CevxZvSJLk8" width="100%" height="310px" scrolling="no" style="border:none;"></iframe>

                <!--
                <iframe src="//api.listenvid.com/?default/CevxZvSJLk8/mp3/fff" width="100%" height="310px" scrolling="no" style="border:none;"></iframe>

                <iframe class="button-api-frame" src="https://youtubemp3api.com/@api/button/mp3/CevxZvSJLk8" width="100%" height="310px" allowtransparency="true" scrolling="no" style="border: none; overflow: hidden; height: 310px;" id="iFrameResizer0"></iframe>
                <iframe class="button-api-frame" src="https://youtubemp3api.com/@api/button/mp3/CevxZvSJLk8" width="100%" height="310px" allowtransparency="true" scrolling="no" style="border:none"></iframe>
              -->
              </div>
              <div class="tab-pane" id="video" role="tabpanel">                
                <iframe class="button-api-frame" src="https://youtubemp3api.com/@api/button/videos/CevxZvSJLk8" width="100%" height="100%" allowtransparency="true" scrolling="no" style="border:none"></iframe>
              </div>
            </div>
          </div>

          <div class="col-12 text-center mt-3 mb-3">
            <p class="h6">
            Gracias a<br>
            {{ videoChannelTitle }} <i class="ion-alert"></i>
            </p>
          </div>
          <div class="col-6 text-center">
            <h2 class="ion-thumbsup" title="Me gusta"></h2>
            <p>{{ videoLikes }}</p>
          </div>
          <div class="col-6 text-center">
            <h2 class="ion-thumbsdown" title="No me gusta"></h2>
            <p>{{ videoDislikes }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>