<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-8 push-lg-2">
        <div class="input-group input-group-lg mt-3 mb-4">
          <input id="query" type="text" class="form-control" placeholder="Buscar ..." value="AnoHana Secret base Ending. sub español" [(ngModel)]="search" (keyup.enter)="getYoutubeListSearch()">
          <div class="input-group-addon pointer" (click)="getYoutubeListSearch()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div *ngIf="!videosSearch.length && !videosDefault.length" class="loader m-4">
          <div class="ball-scale-multiple"><div></div><div></div><div></div></div>
        </div>
        <div *ngIf="!videosSearch.length" class="container">
          <div class="row">
            <ng-container *ngFor="let video of videosDefault">
              <div class="card col-lg-4 col-md-6">
                <div class="text-center mt-3">
                  <img class="card-img-top img-fluid" src="{{ video.snippet.thumbnails.default.url }}" alt="{{ video.snippet.title }}" width="200px" height="150px">
                </div>
                <div class="card-block d-flex align-content-between flex-wrap">
                  <h6 class="card-title text-primary pointer" (click)="viewVideo(video.id.videoId)">
                    {{ video.snippet.title }}
                  </h6>
                  <div class="col-12 text-center p-0 m-0">
                    <button class="btn btn-success m-1 pointer show-md-down hidden-lg-up" (click)="download(video.id.videoId)">
                      <i class="fa fa-cloud-download mr-2" aria-hidden="true"></i>Descargar
                    </button>
                    <button [ngClass]="{hidden: video.id.videoId === videoId}" class="btn btn-primary m-1 pointer show-md-down hidden-lg-up" (click)="viewVideo(video.id.videoId)" data-toggle="modal" data-target="#viewVideoModal">
                      <i class="fa fa-play mr-2" aria-hidden="true"></i>Play
                    </button>
                    <button class="btn btn-success m-1 pointer hidden-md-down" (click)="download(video.id.videoId)">
                      <i class="fa fa-cloud-download mr-2" aria-hidden="true"></i>Descargar
                    </button>
                    <button [ngClass]="{hidden: video.id.videoId === videoId}" class="btn btn-primary m-1 pointer hidden-md-down" (click)="viewVideo(video.id.videoId)">
                      <i class="fa fa-play mr-2" aria-hidden="true"></i>Play
                    </button>
                    <button *ngIf="video.id.videoId == videoId" class="btn btn btn-outline-danger m-1 pointer" (click)="stopViewVideo()">
                      <i class="fa fa-stop mr-2" aria-hidden="true"></i>Stop
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>    
          </div>      
        </div>
        <ng-container *ngFor="let video of videosSearch">
          <div class="list-group-item list-group-item-action">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 text-center">
                  <img width="120px" height="90px" src="{{ video.snippet.thumbnails.default.url }}" class="m-2" alt="{{ video.snippet.title }}">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8">
                  <h5 class="m-2 pointer text-primary" (click)="viewVideo(video.id.videoId)">
                    {{ video.snippet.title }}
                  </h5>
                  <i class="m-2"><b>Autor: </b>{{ video.snippet.channelTitle }}</i>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                  <button class="btn btn-success m-1 pointer show-md-down hidden-lg-up" (click)="download(video.id.videoId)">
                    <i class="fa fa-cloud-download mr-2" aria-hidden="true"></i>Descargar
                  </button>
                  <button [ngClass]="{hidden: video.id.videoId === videoId}" class="btn btn-primary m-1 pointer show-md-down hidden-lg-up" (click)="viewVideo(video.id.videoId)" data-toggle="modal" data-target="#viewVideoModal">
                    <i class="fa fa-play mr-2" aria-hidden="true"></i>Play
                  </button>
                  <button class="btn btn-success m-1 pointer hidden-md-down" (click)="download(video.id.videoId)">
                    <i class="fa fa-cloud-download mr-2" aria-hidden="true"></i>Descargar
                  </button>
                  <button [ngClass]="{hidden: video.id.videoId === videoId}" class="btn btn-primary m-1 pointer hidden-md-down" (click)="viewVideo(video.id.videoId)">
                    <i class="fa fa-play mr-2" aria-hidden="true"></i>Play
                  </button>
                  <button *ngIf="video.id.videoId == videoId" class="btn btn btn-outline-danger m-1 pointer" (click)="stopViewVideo()">
                    <i class="fa fa-stop mr-2" aria-hidden="true"></i>Stop
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="!viewVideoOk && !downloadOk" class="col-lg-4 mt-4 pt-5">
    <blockquote class="blockquote">
      <h1 class="display-4">Descarga Mp3 y Videos de YouTube sin publicidad!</h1>
      <footer class="blockquote-footer">
        <a href="mailto:carl.rdj@gmail.com">
          carl.rdj@gmail.com
        </a>
        <i class="fa fa-gitlab fa-4x rotate-30 icon-move-rotate-30" aria-hidden="true"></i>
      </footer>
    </blockquote>
      <hr>
    <div class="row">
      <div class="col-6 text-center text-like">
        <i class="fa fa-hand-o-right fa-4x hvr-buzz" aria-hidden="true"></i>
        <h4>Dale like!</h4>
      </div>
      <div class="col-6 text-center p-2">
        <div class="fb-like" data-href="https://github.com/carlrdj/download-youtube" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </div>
    </div>  
  </div>

  <div *ngIf="viewVideoOk || downloadOk" id="sectionInfo" class="col-lg-4">
    <div class="close-sectionInfo hidden-lg-up text-center" (click)="stopViewVideo()">
      <i class="fa fa-times-circle fa-4x pointer m-0 p-0" aria-hidden="true"></i>
    </div>
      
    <div class="bg-danger text-white text-center mt-2 mb-3">
      <h3 class="display-5 p-3">YouTube</h3>
    </div>
    <div *ngIf="viewVideoOk" class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]="videoUrl" width="100%" height="300" frameborder="0" scrolling="no" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div *ngIf="viewVideoOk || downloadOk" class="list-group-item  mt-3">
      <div class="container">
        <div class="row">
          <div class="col-12" *ngIf="downloadOk">
            <img src="{{ videoImageMedium }}" class="img-fluid">
          </div>
          <div class="col-12">
            <h5 class="pt-3">{{ videoTitle }}</h5>
            <a class="font-weight-normal" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-chevron-down" aria-hidden="true"></i> Descripción: 
            </a>
            <div class="collapse" id="collapseExample">
              {{ videoDescription }}
            </div>
            <hr>
            <p>Duración: {{ videoDuration }}</p>
          </div>
          <div class="col-12 text-center" *ngIf="downloadOk">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#mp3" role="tab">mp3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#video" role="tab">video</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active p-2" id="mp3" role="tabpanel">
                <div class="loader" *ngIf="!mp3Downloads.length">
                  <div class="ball-scale-multiple"><div></div><div></div><div></div></div>
                </div>
                <ng-container *ngFor="let mp3Download of mp3Downloads">                  
                  <a href="{{ mp3Download.dloadUrl }}" class="col-5 btn btn-md p-1 m-1 text-center bg-mp3-download-{{ mp3Download.bitrate }} text-white hvr-grow">
                    <h6>MP3</h6>
                    <h6>{{ mp3Download.bitrate }} Kbps</h6>
                    <h6 class="download-mb-border-top pt-1">{{ mp3Download.mp3size }}</h6>
                  </a>
                </ng-container>
              </div>
              <div class="tab-pane p-2" id="video" role="tabpanel">
                <div class="loader" *ngIf="!videosDownloads.length">
                  <div class="ball-scale-multiple"><div></div><div></div><div></div></div>
                </div>
                <ng-container *ngFor="let videosDownload of videosDownloads">                  
                  <a href="{{ videosDownload.directurl }}" class="col-5 btn btn-md p-1 m-1 text-center bg-videos-download-{{ videosDownload.quality }} text-white hvr-grow">
                    <h6 class="text-uppercase">{{ videosDownload.ftype }}</h6>
                    <h6>{{ videosDownload.quality }}p</h6>
                    <h6 class="download-mb-border-top pt-1">{{ videosDownload.rSize }}</h6>
                  </a>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12 text-center mt-3 mb-4">
            <div class="h6">
              Gracias a
            </div>
            <div class="h5">
            {{ videoChannelTitle }} <i class="fa fa-exclamation fa-2x" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-6 text-center">
            <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i>
            <p>{{ videoLikes }}</p>
          </div>
          <div class="col-6 text-center">
            <i class="fa fa-thumbs-o-down fa-3x" aria-hidden="true"></i>
            <p>{{ videoDislikes }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>